.home_container {
  width: 100vw;
  height: 100vh;
  max-width: 1800px;
  max-width: 2680px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  overflow: hidden;
  margin: 1rem;
}
