.card_item {
  display: "flex";
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.4);
  height: 7rem;
  max-height: 8rem;
  width: 100%;
  border-radius: 10px;
  position: relative;
  margin: 1rem;
  flex: 1;
}

.card_item .card-item-image {
  display: flex;
  width: 40%;
  background-color: lime;

  height: 100%;
}

.card_item .cart-item-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.horizontal-scroll-wrapper > div {
  transform: rotate(90deg);
  transform-origin: right top;
}

.horizontal-scroll-wrapper {
  transform: rotate(-90deg) translateY(-100px);
}
