@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.loading-spinner {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.capitalize {
  text-transform: capitalize !important;
}

.MuiTablePagination-root {
  min-width: 650px;
  max-width: 1080px;
  margin: 1rem auto;
}
.MuiBackdrop-root {
  opacity: 0.9 !important;
}
.MuiDialog-container {
  background-color: #fff;
}
